<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- bootstrap -->
    <link rel="stylesheet" href="{{asset "stylesheets/bootstrap.min.css"}}">
    <link rel="stylesheet" href="{{asset "stylesheets/bootstrap-theme.min.css"}}">

    <!-- own stylesheet for general stuff -->
    <link rel="stylesheet" href="{{asset "stylesheets/style.css"}}">

      <!-- jQuery, font-awesome and more -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


        {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
  <body>

  <div id="header">
         <p class="blogtitle">{{@blog.title}}</p>
         <div id="about"><a href="#aboutModal2" data-toggle="modal" data-target="#myModal2"><i class="fa fa-question"></i></a></div>
    </div>

   <div class="container-fluid">
            <div class="row">
                <div>


       {{{body}}}

                </div>
                    <!-- column 1 end! -->

            </div>
    </div>
    <div id="pagination">
    {{pagination}}
    </div>

</div><!-- container fluid END! -->

    <!-- Modal about site -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h4 class="text-left-title modal-post"></i>About Jade</h4>
                <div class="modal-body">
                  <div class="panel">
                        <p>The theme currently used is called <a href="https://github.com/hxkclan/jade" target="_blank">Jade</a>. Jade uses elements from <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> with <a href="http://jquery.com/" target="_blank">JQuery</a> for modals and the (fluid) website layout. Jade also uses <a href="https://github.com/FortAwesome/Font-Awesome" target="_blank">Font-Awesome</a> for the scalable icons and <a href="https://github.com/jedfoster/Readmore.js" target="_blank">Readmore.js</a> to expand/retract posts.
                        </p>
                </div>
              </div>
            </div>
        </div>
    </div>
<!-- ghost footer includes jquery -->
{{ghost_foot}}

    <script src="{{asset "javascripts/bootstrap.min.js"}}"></script>
    <script src="{{asset "javascripts/readmore.min.js"}}"></script>

        <script>
                $('article').readmore({
                  speed: 75,
                  maxHeight: 250
                });

    </script>
  </body>
</html>
